
#profile-container {
  margin-bottom: 15px;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  display: block;

  border: solid whitesmoke 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.profile-name {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 5px;
  word-break: break-all;
}

.profile-bio {
  margin: 0 5px;
}
