.article {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.14),
  0 3px 1px -2px rgba(0,0,0,.2),
  0 1px 5px 0 rgba(0,0,0,.12);
}
.article-sticky {
  width: 220px!important;
}

.article-mount {
  background-color: #f6f6f6;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.article-avatar-space {
  display: block;
  height: 30px;
  margin-top: 22px;
  text-align: center;
}

.article-avatar {
  width: 60px;
  height: 60px;
  margin-top: -22px;
  padding: 2px;

  box-sizing: border-box;
  background-color: whitesmoke;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

  box-shadow: 0 0 2px 0 rgba(0,0,0,.14),
  0 3px 1px -2px rgba(0,0,0,.2),
  0 1px 5px 0 rgba(0,0,0,.12);
}

.article-body {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */

  min-height: 120px;
  margin: 0;
  padding: 15px 15px 10px;
  font-size: 1.2em;

  overflow: hidden;
  color: #2f2f2f;
}

.article-footer {
  padding: 12px 15px;
  height: 20px;
  line-height: 20px;
}

.article-username {
  float: right;
  font-size: 1.1em;
}
.article-date {
  float:left;
  color: gray;
  font-size: 0.7em;
}


